
doctype html
html
  head
    meta(charset='utf-8')      
    title Design
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body#archeeve
    #onepagelove
      img(src='/assets/archeeve/one-page-love-award-right.png')
      //- <a href=''
    
    
    //- h1 this one archeeve
  
